recursive-include src *
recursive-include docs *
include *.rst *.txt *.ini *.cfg *.py *.rb
global-exclude *.pyc
global-exclude .DS_Store
exclude .installed.cfg .mr.developer.cfg
prune src/*.egg-info
prune docs/build