<!DOCTYPE html>
<title>Basic Layout</title>

<!-- Includes layout/header.html into template -->
{% include "layout/header.html" %}

<!-- Sets active_page variable for active tab -->
{% set active_page = "index" %}

{% for message in get_flashed_messages() %}
    <div class=alert>{{ message }}</div>
{% endfor %}
  
<body>
	<div class="container">
    	<!-- Includes layout/nav.html into template -->
    	{% include "layout/nav.html" %}

    	<div class="container">
    		
			{% block body %}{% endblock %}
		</div> <!-- /container -->

    	<!-- Includes layout/footer.html into template -->
    	{% include "layout/footer.html" %}
    </div>
    

</body>