<!DOCTYPE html>
<title>New Literature Review</title>

{% extends "layout.html" %}
{% block body %}
<html lang="en">
  <body onload="highlightSearchTerms('yeast cerevisiae');bold_citation({{ ref_count}});">

    <div class="container">
	
      <p><p><h1>There are {{ ref_count }} new references to review</h1>
      <h2>(for testing, we only show the top 10 papers)</h2>
      <p>

      <hr>

      <input type="hidden" id="user" name="variable" value="{{ current_user.name.upper() }}">	  

      {% for row in ref_list %}
      
        {% if loop.index <= 10 %}   <!-- just for testing purpose -->

          {% set pmid = row.pubmed_id %}
	  
          <div id='{{ pmid}}'>   <!-- start pubmed section -->
       
          <span id='citation{{ loop.index }}'>{{ row.citation }}</span> <br>

          <!-- need to put this pubmed url in a config file? -->
	  <a href='http://www.ncbi.nlm.nih.gov/pubmed/{{ pmid }}?dopt=Abstract' target='new'><img src='../static/img/pubmedrefsml.gif'></a> 

	  {% if row.fulltext_url %}
	      <a href='{{ row.fulltext_url }}' target=new><img src='../static/img/full_text.gif'></a>	  
          {% endif %}
	      
	  <strong>(PMID: {{ pmid }})</strong><p>
	  	  
          
	  <ul id='abstract{{ loop.index }}'>
	      <li><b>Abstract:</b><br>
	      <ul>{{ row.abstract }}</ul>
              </li>
	  </ul>

	  <span class="btn" onclick="discard_paper({{ pmid }})">Discard this paper</span><p>

	  <ul>
	     <li>
	     <input type="checkbox" id="ck_{{ pmid }}_1" name="high_priority" value="High Priority"> High Priority?
	     Comment: <textarea class="span2" rows="1" id="comment_{{ pmid }}_1"></textarea>
	     </li>

	     <li>
             <input type="checkbox" id="ck_{{ pmid }}_2" name="delay" value="Delay"> Delay?
	     Comment: <textarea class="span2" rows="1" id="comment_{{ pmid }}_2"></textarea>
	     </li>

	     <li>
	     <input type="checkbox" id="ck_{{ pmid }}_3" name="htp_pheno" value="HTP phenotype"> HTP phenotype data? (adds the 'Omics' topic) 
	     Comment: <textarea class="span2" rows="1" id="comment_{{ pmid }}_3"></textarea>
	     </li>

	     <li>
             <input type="checkbox" id="ck_{{ pmid }}_4" name="non_pheno_htp" value="Non-phenotype HTP"> Other HTP data? (adds the 'Omics' topic)
	     Comment: <textarea class="span2" rows="1" id="comment_{{ pmid }}_4"></textarea>
	     </li>

	     <li><input type="checkbox" id="ck_{{ pmid }}_5" name="go" value="GO information"> GO information? 
	     Link to these genes and add paper to Primary Literature: <textarea class="span2" rows="1" id="gene_{{ pmid }}_5"></textarea> Comment: <textarea class="span2" rows="1" id="comment_{{ pmid }}_5"></textarea>
	     </li>

	     <li><input type="checkbox" id="ck_{{ pmid }}_6" name="pheno" value="Classical phenotype information"> Classical phenotype information? 
	     Link to these genes and add paper to Primary Literature: <textarea class="span2" rows="1" id="gene_{{ pmid }}_6"></textarea> Comment: <textarea class="span2" rows="1" id="comment_{{ pmid }}_6"></textarea>
	     </li>

	     <li><input type="checkbox" id="ck_{{ pmid }}_7" name="headline" value="Headline information"> Headline information? 
	     Link to these genes and add paper to Primary Literature: <textarea class="span2" rows="1" id="gene_{{ pmid }}_7"></textarea> Comment: <textarea class="span2" rows="1" id="comment_{{ pmid }}_7"></textarea>
	     </li>

	     <li><input type="checkbox" id="ck_{{ pmid }}_8" name="review" value="Reviews"> Reviews? 
	     Optionally link to these genes: <textarea class="span2" rows="1" id="gene_{{ pmid }}_8"></textarea> Comment: <textarea class="span2" rows="1" id="comment_{{ pmid }}_8"></textarea>
	     </li>	     

	     <li><input type="checkbox" id="ck_{{ pmid }}_9" name="gene_link" value="Add to database"> Add to database? 
	     Optionally link to these genes and add paper to Additional Literature: <textarea class="span2" rows="1" id="gene_{{ pmid }}_9"></textarea> Comment: <textarea class="span2" rows="1" id="comment_{{ pmid }}_9"></textarea>
	     </li>	  
   
	  </ul>
	  
	  <b>When adding gene names (standard/systematic names only) to text boxes, separate multiples by space.</b><p><p>

          <span class="btn" onclick="link_paper({{pmid}}, 9)">Link checked tags/topics/genes to this paper</span>

	  </div>  <!-- end of a pubmed section -->

	  <hr>


	{% endif %}

      {% endfor %}
      
    </div> <!-- /container -->

    <script src="../static/js/local.js"></script> 

    
    <script>

         for (var i = 1; i <= {{ ref_count }}; i++) {
	     // id = 'abstract1', 'abstract2', ...
	     activateCollapsible('abstract'+i);
	 }
       
   </script>

  </body>
</html>
{% endblock body %}
