<!DOCTYPE html>
<title>New Literature Review</title>

{% extends "layout.html" %}
{% block body %}
<html lang="en">
  <body onload="highlightSearchTerms('yeast cerevisiae');bold_citation({{ ref_count}});">

    <div class="container">
	
      <p><p><h1>There are {{ ref_count }} new references to review</h1>
      <h2>(for testing, we only show the top 10 papers)</h2>
      <p>

      <hr>

      <input type="hidden" id="user" name="variable" value="{{ current_user.name.upper() }}">	  

      {% for row in ref_list %}
      
        {% if loop.index <= 10 %}   <!-- just for testing purpose -->

          {% set pmid = row.pubmed_id %}
       
	      {% set sub_form = form.get_reference_form(pmid) %}

          <div id='{{ pmid}}'>   <!-- start pubmed section -->
       
          <span id='citation{{ loop.index }}'>{{ row.citation }}</span> <br>

          <!-- need to put this pubmed url in a config file? -->
	  <a href='http://www.ncbi.nlm.nih.gov/pubmed/{{ pmid }}?dopt=Abstract' target='new'><img src='../static/img/pubmedrefsml.gif'></a> 

	  {% if row.fulltext_url %}
	      <a href='{{ row.fulltext_url }}' target=new><img src='../static/img/full_text.gif'></a>	  
      {% endif %}
	      
	  <strong>(PMID: {{ pmid }})</strong><p>
	  	  
          
	  <ul id='abstract{{ loop.index }}'>
	      <li><b>Abstract:</b><br>
	      <ul>{{ row.abstract }}</ul>
              </li>
	  </ul>
	  <form name="del_ref" action="/reference/delete/{{pmid}}" method="post">
		<input class="btn" type="submit" value="Discard this paper"\>
	  </form>

	  <form name="input" action="/reference/link/{{pmid}}" method="post"><ul>
	    
	     {{sub_form.high_priority(id=pmid~'_high_priority', onclick="show_hide_comment('"~pmid~"_high_priority')")}} {{sub_form.high_priority.label.text }} <br>
	     <ul><div id={{pmid~"_high_priority_block"}} style="display:none;">
	     	{{sub_form.high_priority_comment.label}}
	     	{{sub_form.high_priority_comment(id=pmid~'_high_priority_comment', style="width:100%", rows="3")}}
	     </div></ul>
	     
	     {{sub_form.delay(id=pmid~'_delay', onclick="show_hide_comment('"~pmid~"_delay')")}} {{sub_form.delay.label.text }} <br>
	     <ul><div id={{pmid~"_delay_block"}} style="display:none;">
	     	{{sub_form.delay_comment.label}}
	     	{{sub_form.delay_comment(id=pmid~'_delay_comment', style="width:100%", rows="3")}}
	     </div></ul>

	     {{sub_form.htp(id=pmid~'_htp', onclick="show_hide_comment('"~pmid~"_htp')")}} {{sub_form.htp.label.text }} <br>     	
		 <ul><div id={{pmid~"_htp_block"}} style="display:none;">
	     	{{sub_form.htp_comment.label}}
	     	{{sub_form.htp_comment(id=pmid~'_htp_comment', style="width:100%", rows="3")}}
	     </div></ul>

	     {{sub_form.other(id=pmid~'_other', onclick="show_hide_comment('"~pmid~"_other')")}} {{sub_form.other.label.text }} <br>
		 <ul><div id={{pmid~"_other_block"}} style="display:none;">
	     	{{sub_form.other_comment.label}}
	     	{{sub_form.other_comment(id=pmid~'_other_comment', style="width:100%", rows="3")}}
	     </div></ul>
	     
	     {{sub_form.go(id=pmid~'_go', onclick="show_hide_comment('"~pmid~"_go')")}} {{sub_form.go.label.text }} <br>
	     <ul><div id={{pmid~"_go_block"}} style="display:none;">
	     	{{sub_form.go_genes.label}}
	     	{{sub_form.go_genes(id=pmid~'_go_genes', style="width:100%", rows="1")}}
	     	{{sub_form.go_comment.label}}
	     	{{sub_form.go_comment(id=pmid~'_go_comment', style="width:100%", rows="3")}}
	     </div></ul>
	     
	     {{sub_form.phenotype(id=pmid~'_phenotype', onclick="show_hide_comment('"~pmid~"_phenotype')")}} {{sub_form.phenotype.label.text }} <br>
	     <ul><div id={{pmid~"_phenotype_block"}} style="display:none;">
	     	{{sub_form.phenotype_genes.label}}
	     	{{sub_form.phenotype_genes(id=pmid~'_phenotype_genes', style="width:100%", rows="1")}}
	     	{{sub_form.phenotype_comment.label}}
	     	{{sub_form.phenotype_comment(id=pmid~'_phenotype_comment', style="width:100%", rows="3")}}
	     </div></ul>
	     
	     {{sub_form.headline(id=pmid~'_headline', onclick="show_hide_comment('"~pmid~"_headline')")}} {{sub_form.headline.label.text }} <br>
	     <ul><div id={{pmid~"_headline_block"}} style="display:none;">
	     	{{sub_form.headline_genes.label}}
	     	{{sub_form.headline_genes(id=pmid~'_headline_genes', style="width:100%", rows="1")}}
	     	{{sub_form.headline_comment.label}}
	     	{{sub_form.headline_comment(id=pmid~'_headline_comment', style="width:100%", rows="3")}}
	     </div></ul>
	     
	     {{sub_form.review(id=pmid~'_review', onclick="show_hide_comment('"~pmid~"_review')")}} {{sub_form.review.label.text }} <br>
	     <ul><div id={{pmid~"_review_block"}} style="display:none;">
	     	{{sub_form.review_genes.label}}
	     	{{sub_form.review_genes(id=pmid~'_review_genes', style="width:100%", rows="1")}}
	     	{{sub_form.review_comment.label}}
	     	{{sub_form.review_comment(id=pmid~'_review_comment', style="width:100%", rows="3")}}
	     </div></ul>
	     
	     {{sub_form.add_to_db(id=pmid~'_add_to_db', onclick="show_hide_comment('"~pmid~"_add_to_db')")}} {{sub_form.add_to_db.label.text }} <br>
	     <ul><div id={{pmid~"_add_to_db_block"}} style="display:none;">
	     	{{sub_form.add_to_db_genes.label}}
	     	{{sub_form.add_to_db_genes(id=pmid~'_add_to_db_genes', style="width:100%", rows="1")}}
	     	{{sub_form.add_to_db_comment.label}}
	     	{{sub_form.add_to_db_comment(id=pmid~'_add_to_db_comment', style="width:100%", rows="3")}}
	     </div></ul>
    
	  </ul>
		{{sub_form.link(class='btn')}}

	</form>
	  </div>  <!-- end of a pubmed section -->

	  <hr>


	{% endif %}

      {% endfor %}
      
    </div> <!-- /container -->

    <script src="../static/js/local.js"></script> 

    
    <script>

         for (var i = 1; i <= {{ ref_count }}; i++) {
	     // id = 'abstract1', 'abstract2', ...
	     activateCollapsible('abstract'+i);
	 }
       
   </script>

  </body>
</html>
{% endblock body %}
