<!DOCTYPE html>
<title>New Literature Review</title>

{% extends "layout.html" %}
{% block body %}
<html lang="en">
  <body onload="highlightSearchTerms('yeast cerevisiae');bold_citation({{ ref_count}});">

    <div class="container">
	
      <p><p><h1>There are {{ ref_count }} new references to review</h1>
      <h2>(for testing, we only show the top 10 papers)</h2>
      <p>

      <hr>

      <input type="hidden" id="user" name="variable" value="{{ current_user.name.upper() }}">	  

      {% for row in ref_list %}
      
        {% if loop.index <= 10 %}   <!-- just for testing purpose -->

          {% set pmid = row.pubmed_id %}
	  
          <div id='{{ pmid}}'>   <!-- start pubmed section -->
       
          <span id='citation{{ loop.index }}'>{{ row.citation }}</span> <br>

          <!-- need to put this pubmed url in a config file? -->
	  <a href='http://www.ncbi.nlm.nih.gov/pubmed/{{ pmid }}?dopt=Abstract' target='new'><img src='../static/img/pubmedrefsml.gif'></a> 

	  {% if row.fulltext_url %}
	      <a href='{{ row.fulltext_url }}' target=new><img src='../static/img/full_text.gif'></a>	  
      {% endif %}
	      
	  <strong>(PMID: {{ pmid }})</strong><p>
	  	  
          
	  <ul id='abstract{{ loop.index }}'>
	      <li><b>Abstract:</b><br>
	      <ul>{{ row.abstract }}</ul>
              </li>
	  </ul>
	  <form name="del_ref" action="/reference/delete/{{pmid}}" method="post">
		<input class="btn" type="submit" value="Discard this paper"\>
	  </form>

	  <form name="input" action="/reference/link/{{pmid}}" method="post"><ul>
	     <li>
	     <input type="checkbox" id="high_priority_cb" name="high_priority_cb" value = 'cb' onclick="show_hide_comment('high_priority')"/> High Priority
	     <ul><div id="high_priority_cm" style="display:none;">
	     	Comment: <textarea class="span2" style="width:100%" rows="3" id="high_priority_ta" name="high_priority_ta"> </textarea>
	     </div></ul>
	     </li>
	     
	     <li>
	     <input type="checkbox" id="delay_cb" name="delay_cb" value = 'cb' onclick="show_hide_comment('delay')"/> Delay
	     <ul><div id="delay_cm" style="display:none;">
	     	Comment: <textarea class="span2" style="width:100%" rows="3" id="delay_ta" name="delay_ta"> </textarea>
	     </div></ul>
	     </li>

	     <li>
	     <input type="checkbox" id="htp_cb" name="htp_cb" value = 'cb' onclick="show_hide_comment('htp')"/> HTP phenotype data (adds the 'Omics' topic)
	     <ul><div id="htp_cm" style="display:none;">
	     	Comment: <textarea class="span2" style="width:100%" rows="3" id="htp_ta" name="htp_ta"> </textarea>
	     </div></ul>
	     </li>

	     <li>
	     <input type="checkbox" id="other_cb" name="other_cb" value = 'cb' onclick="show_hide_comment('other')"/> Other HTP data (adds the 'Omics' topic)
	     <ul><div id="other_cm" style="display:none;">
	     	Comment: <textarea class="span2" style="width:100%" rows="3" id="other_ta" name="other_ta"> </textarea>
	     </div></ul>
	     </li>
	     
	     <li>
	     <input type="checkbox" id="go_cb" name="go_cb" value = 'cb' onclick="show_hide_comment('go')"/> GO information
	     <ul><div id="go_cm" style="display:none;">
	     	Link to these genes and add paper to Primary Literature: <textarea class="span2" style="width:100%" rows="1" id="go_genes" name="go_genes"> </textarea>
	     	Comment: <textarea class="span2" style="width:100%" rows="3" id="go_ta" name="go_ta"> </textarea>
	     </div></ul>
	     </li>
	     
	     <li>
	     <input type="checkbox" id="phenotype_cb" name="phenotype_cb" value = 'cb' onclick="show_hide_comment('phenotype')"/> Classical phenotype information
	     <ul><div id="phenotype_cm" style="display:none;">
	     	Link to these genes and add paper to Primary Literature: <textarea class="span2" style="width:100%" rows="1" id="phenotype_genes" name="phenotype_genes"> </textarea>
	     	Comment: <textarea class="span2" style="width:100%" rows="3" id="phenotype_ta" name="phenotype_ta"> </textarea>
	     </div></ul>
	     </li>
	     
	     <li>
	     <input type="checkbox" id="headline_cb" name="headline_cb" value = 'cb' onclick="show_hide_comment('headline')"/> Headline information
	     <ul><div id="headline_cm" style="display:none;">
	     	Link to these genes and add paper to Primary Literature: <textarea class="span2" style="width:100%" rows="1" id="headline_genes" name="headline_genes"> </textarea>
	     	Comment: <textarea class="span2" style="width:100%" rows="3" id="headline_ta" name="headline_ta"> </textarea>
	     </div></ul>
	     </li>
	     
	     <li>
	     <input type="checkbox" id="review_cb" name="review_cb" value = 'cb' onclick="show_hide_comment('review')"/> Review
	     <ul><div id="review_cm" style="display:none;">
	     	Optionally link to these genes: <textarea class="span2" style="width:100%" rows="1" id="review_genes" name="review_genes"> </textarea>
	     	Comment: <textarea class="span2" style="width:100%" rows="3" id="review_ta" name="review_ta"> </textarea>
	     </div></ul>
	     </li>
	     
	     <li>
	     <input type="checkbox" id="add_to_db_cb" name="add_to_db_cb" value = 'cb' onclick="show_hide_comment('add_to_db')"/> Add to database
	     <ul><div id="add_to_db_cm" style="display:none;">
	     	Optionally link to these genes and add paper to Additional Literature: <textarea class="span2" style="width:100%" rows="1" id="add_to_db_genes" name="add_to_db_genes"> </textarea>
	     	Comment: <textarea class="span2" style="width:100%" rows="3" id="add_to_db_ta" name="add_to_db_ta"> </textarea>
	     </div></ul>
	     </li>  
    
	  </ul>
		<input class='btn' type="submit" value="Link checked tags/topics/genes to this paper">
	</form>
	  </div>  <!-- end of a pubmed section -->

	  <hr>


	{% endif %}

      {% endfor %}
      
    </div> <!-- /container -->

    <script src="../static/js/local.js"></script> 

    
    <script>

         for (var i = 1; i <= {{ ref_count }}; i++) {
	     // id = 'abstract1', 'abstract2', ...
	     activateCollapsible('abstract'+i);
	 }
       
   </script>

  </body>
</html>
{% endblock body %}
