<!DOCTYPE html>
<title>NavBar</title>

<div class="navbar navbar-fixed-top">
	<div class="navbar-inner">
		<div class="container">
			<a class="brand" href="/">PubMed New Literature Review</a>
			<div class="nav-collapse">
				<ul class="nav">
					<li class="active"><a href="/reference">References to Review</a></li>
					<li><a href="http://www.yeastgenome.org">SGD Home</a></li>
					<li><a href="http://staff.yeastgenome.org/index.php/Help:geneinfo">Curation Help</a></li>
            	</ul> 
				<div style="text-align:right" class=metanav>
					{% if current_user.is_authenticated() %}
						Welcome, {{ current_user.name }} | <a href="{{ url_for('logout') }}">log out</a>
					{% else %}
    					You are not logged in | <a href="{{ url_for('login') }}">log in</a>
  					{% endif %}
  				</div>
          	</div>
		</div>
	</div>
</div>
